<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Self Test of Traditional Chinese Medicine Constitution</title>

    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="content.css" />
    <link rel="stylesheet" href="result.css" />
    <link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css" />

    <script src="./data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

    <script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
    <script src="./check-btn.js"></script>

    <style>
      *,
      html,
      body {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
      }
      .page {
        margin: 0 auto;
        position: relative;
        background: #a7d168;
      }

      .check-btn {
        background-color: #efeec9;
        color: #242421;
        display: flex;
        font-size: 16px;
        height: 53px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
      }
      .check-btn .item {
        flex: 1;
        height: 100%;
        border-top: 2px solid #32373a;
        border-bottom: 2px solid #32373a;
        border-left: 2px solid #32373a;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .check-btn .item.active {
        background-color: #f2e650;
        color: #242421;
      }

      .check-btn .item:last-of-type {
        border-right: 2px solid #32373a;
      }

      .check-btn .item:first-of-type {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .check-btn .item:last-of-type {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="page">
      <div v-if="result.physical == ''">
        <div class="index" v-if="gender == null">
          <div class="title">
            <div class="main-title">
              Self Test of Traditional Chinese Medicine Constitution
            </div>
            <div class="sub-title">
              This test comes from the Chinese standard of "Classification and
              Determination of Traditional Chinese Medicine Constitution"
            </div>
          </div>

          <div class="sex-box">
            <div class="sex-box__title">Please select your gender:</div>
            <div class="sex">
              <div class="btn male" @click="onSelectGender(0)">
                <img
                  src="https://chihyungchang.github.io/TCM-Body-Constitution-Test/male.svg"
                  alt=""
                  srcset=""
                />
                <div>Male</div>
              </div>
              <div class="btn female" @click="onSelectGender(1)">
                <img
                  src="https://chihyungchang.github.io/TCM-Body-Constitution-Test/female.svg"
                  alt=""
                  srcset=""
                />
                <div>Female</div>
              </div>
            </div>
          </div>
        </div>

        <div class="content" v-if="gender != null">
          <div class="progress">
            <div class="text">{{completionRate}}%</div>
            <progress max="100" :value="completionRate"></progress>
          </div>

          <ol class="quesitem" id="questionData">
            <template v-for="(item, index) in questionDataList">
              <li
                v-if="index >= currentPage * 5 && index < (currentPage + 1) * 5"
                :key="item.id"
                :id="`question_${index}`"
              >
                <p
                  id="problem"
                  :style="{
                    color:
                      index > 0
                        ? questionDataList[index - 1].value == 0
                          ? '#9A9A9A'
                          : '#000000'
                        : '#000000',
                  }"
                >
                  {{ index + 1 }}. {{ item.questionText }}
                </p>
                <check-btn
                  v-if="index > 0 ? questionDataList[index - 1].value : true"
                  :index="index"
                  :value.sync="questionDataList[index].value"
                  @change="onChange(index)"
                />
              </li>
            </template>
          </ol>
          <div class="submit-btn" v-if="currentPage < 3" @click="onNext">
            Next
          </div>
          <div class="submit-btn" v-if="currentPage >= 3" @click="onSubmit">
            View Results
          </div>
        </div>
      </div>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: function () {
          return {
            share: true,

            currentPage: 0,

            questionDataList: [],

            PingheScore: 0,
            QiXuScore: 0,
            YangXuScore: 0,
            YingXuScore: 0,
            TanShiScore: 0,
            ShiReScore: 0,
            XueYuScore: 0,
            QiYuScore: 0,
            TeBingScore: 0,

            result: {
              isPinghe: null, // 是否平和
              physical: "", // 当前体质
              both: [], // 兼有体质（去掉最高分）
              tenden: [], // 体质倾向
              healthGuide: [], // 健康建议
            },

            gender: null,
          };
        },

        computed: {
          completionRate() {
            const total = 20;
            const isNullList = this.questionDataList.filter(
              (i, _i) => i.value == 0
            );
            return parseInt(((total - isNullList.length) / total) * 100);
          },
        },

        methods: {
          onChange(index) {
            const target = document.getElementById(`question_${index}`);
            if (target) {
              target.scrollIntoView({
                block: "center",
                behavior: "smooth",
              });
            }
          },

          /**
           * 计算分数
           * @param type 体质类型：
           * 1: 平和质
           * 2: 气虚质
           * 3: 阳虚质
           * 4: 阴虚质
           * 5: 痰湿质
           * 6: 湿热质
           * 7: 血瘀质
           * 8: 气郁质
           * 9: 特禀质
           */
          calculateScore(type) {
            const currentTypeList = this.questionDataList.filter(
              (i) =>
                i.type.includes(type) &&
                (i.gender != null ? i.gender === this.gender : true)
            );
            let totalScore = 0;
            for (const item of currentTypeList) {
              let _score = item.value;
              if (item.is_decrease) {
                _score = 6 - item.value;
              }
              totalScore += _score;
            }
            const len = currentTypeList.length;
            const _score = ((totalScore - len) / (len * 4)) * 100;
            return _score.toFixed(1);
          },

          onCloseShare() {
            this.share = false;
          },

          onRetest() {
            location.reload();
          },

          onSubmit() {
            // 判断是否有空值
            const isNullIndex = this.questionDataList.findIndex(
              (i, _i) =>
                i.value == 0 &&
                _i >= this.currentPage * 5 &&
                _i < (this.currentPage + 1) * 5
            );

            if (isNullIndex >= 0) {
              const target = document.getElementById(`question_${isNullIndex}`);
              if (target) {
                target.scrollIntoView({
                  block: "center",
                  behavior: "smooth",
                });
                vant.Toast(`Please fill in question ${isNullIndex + 1}`);
              }
              return;
            }

            const PingheScore = this.calculateScore(1);
            const QiXuScore = this.calculateScore(2);
            const YangXuScore = this.calculateScore(3);
            const YingXuScore = this.calculateScore(4);
            const TanShiScore = this.calculateScore(5);
            const ShiReScore = this.calculateScore(6);
            const XueYuScore = this.calculateScore(7);
            const QiYuScore = this.calculateScore(8);
            const TeBingScore = this.calculateScore(9);

            this.PingheScore = PingheScore;
            this.QiXuScore = QiXuScore;
            this.YangXuScore = YangXuScore;
            this.YingXuScore = YingXuScore;
            this.TanShiScore = TanShiScore;
            this.ShiReScore = ShiReScore;
            this.XueYuScore = XueYuScore;
            this.QiYuScore = QiYuScore;
            this.TeBingScore = TeBingScore;

            const scoreList = [
              { type: 1, value: PingheScore },
              { type: 2, value: QiXuScore },
              { type: 3, value: YangXuScore },
              { type: 4, value: YingXuScore },
              { type: 5, value: TanShiScore },
              { type: 6, value: ShiReScore },
              { type: 7, value: XueYuScore },
              { type: 8, value: QiYuScore },
              { type: 9, value: TeBingScore },
            ];

            console.log(`\n
      1: 平和质 得分: ${PingheScore}\n
      2: 气虚质 得分: ${QiXuScore}\n
      3: 阳虚质 得分: ${YangXuScore}\n
      4: 阴虚质 得分: ${YingXuScore}\n
      5: 痰湿质 得分: ${TanShiScore}\n
      6: 湿热质 得分: ${ShiReScore}\n
      7: 血瘀质 得分: ${XueYuScore}\n
      8: 气郁质 得分: ${QiYuScore}\n
      9: 特禀质 得分: ${TeBingScore}\n
      `);

            // 平和质判定标准：
            // 1. 除平和质外没有超过 40分的体质
            // 2. 平和质 >= 60分

            // 非平和质判定标准：
            // 1. 平和质 < 60分 或者 除平和质外有 >= 30 && < 40 分的体质

            // 体质判定标准：
            // 1. >= 40分 就属于这种体质（取最大值）
            // 2. >= 30 && < 40分 属于有这种体质的倾向 需要注意

            // 结果：
            // 1. 当前体质（分数最高的体质）
            // 2. 兼有体质（其他 >= 40分的体质）
            // 3. 体质倾向（>= 30 && < 40分的体质）

            const scoreList1 = []; // >= 40分的体质
            const scoreList2 = []; // >= 30 && < 40分的体质

            for (const item of scoreList) {
              if (item.type != 1) {
                if (item.value >= 40) {
                  scoreList1.push(item);
                }
                if (item.value >= 30 && item.value < 40) {
                  scoreList2.push(item);
                }
              }
            }

            // 结果
            const result = {
              isPinghe: null, // 是否平和
              physical: "", // 当前体质
              both: [], // 兼有体质（去掉最高分）
              tenden: [], // 体质倾向
              healthGuide: [], // 健康建议
            };

            if (PingheScore >= 60) {
              result.isPinghe = true;
              if (scoreList1.length == 0 && scoreList2.length == 0) {
                result.physical = "Yin-Yang Balanced Constitution";
              }
              if (scoreList1.length > 0 || scoreList2.length > 0) {
                result.physical = "Basic Yin-Yang Balanced Constitution";
              }
              result.healthGuide.push(RESULT_LIST.find((i) => i.type === 1));
              for (const item of scoreList) {
                if (item.type != 1) {
                  if (item.value >= 40) {
                    result.both.push(TYPE_PHYSIQUE_MAP[item.type]);
                    result.healthGuide.push(
                      RESULT_LIST.find((i) => i.type === item.type)
                    );
                  }
                  if (item.value >= 30 && item.value < 40) {
                    result.tenden.push(TYPE_PHYSIQUE_MAP[item.type]);
                    result.healthGuide.push(
                      RESULT_LIST.find((i) => i.type === item.type)
                    );
                  }
                }
              }
            } else {
              // 非平和质
              result.isPinghe = false;

              if (scoreList1.length > 0) {
                const _list = scoreList1.sort((a, b) => {
                  return b.value - a.value;
                });

                // 体质(最大值)
                result.physical = TYPE_PHYSIQUE_MAP[_list[0].type];

                // 兼有
                result.both = _list
                  .filter((_item, index) => index > 0)
                  .map((i) => TYPE_PHYSIQUE_MAP[i.type]);

                for (const item of scoreList1) {
                  // 健康指南
                  result.healthGuide.push(
                    RESULT_LIST.find((i) => i.type === item.type)
                  );
                }

                // 倾向
                if (scoreList2.length > 0) {
                  result.tenden = scoreList2.map(
                    (i) => TYPE_PHYSIQUE_MAP[i.type]
                  );
                  for (const item of scoreList2) {
                    result.healthGuide.push(
                      RESULT_LIST.find((i) => i.type === item.type)
                    );
                  }
                }
              } else {
                const _list = scoreList2.sort((a, b) => {
                  return b.value - a.value;
                });

                // 体质(最大值)
                result.physical = "倾向" + TYPE_PHYSIQUE_MAP[_list[0].type];

                // 倾向
                result.tenden = _list
                  .filter((_item, index) => index > 0)
                  .map((i) => TYPE_PHYSIQUE_MAP[i.type]);

                for (const item of scoreList2) {
                  // 健康指南
                  result.healthGuide.push(
                    RESULT_LIST.find((i) => i.type === item.type)
                  );
                }
              }
            }

            this.result = result;

            localStorage.setItem(
              "RESULT",
              JSON.stringify({
                result,
                score: {
                  PingheScore, // 平和
                  QiXuScore, // 气虚
                  YangXuScore, // 阳虚
                  YingXuScore, // 阴虚
                  TanShiScore, // 痰湿质
                  ShiReScore, // 湿热质
                  XueYuScore, // 血瘀质
                  QiYuScore, // 气郁质
                  TeBingScore, // 特禀质
                },
              })
            );

            location.href = "result.html";
          },

          onSelectGender(value) {
            this.gender = value;

            this.questionDataList = QUESTION_LIST.filter((i) =>
              i.gender != null ? i.gender === value : true
            );
          },

          strFilter: function (v) {
            if (v && v.length > 0) {
              return v.join("、");
            }
            return "";
          },

          onNext() {
            // 判断是否有空值
            const isNullIndex = this.questionDataList.findIndex(
              (i, _i) =>
                i.value == 0 &&
                _i >= this.currentPage * 5 &&
                _i < (this.currentPage + 1) * 5
            );

            if (isNullIndex >= 0) {
              const target = document.getElementById(`question_${isNullIndex}`);
              if (target) {
                target.scrollIntoView({
                  block: "center",
                  behavior: "smooth",
                });
                vant.Toast(`Please fill in question ${isNullIndex + 1}`);
              }
              return;
            }

            this.currentPage++;
          },
        },
      });

      Vue.use(vant.Tab);
    </script>
  </body>
</html>
